<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @auction.user_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @auction.value %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
