<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <br>
  <div style="color: #4d4d4d">
    Number of dinners that could not be paid at registration time.
  </div>
  <div class="field">
    <%= f.label :unpaid_dinners %><br>
    <%= f.text_field :unpaid_dinners, value: 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
