<h1>
  <%= @user.number %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<% if @user.phone_number.present? %>
  <p>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </p>
<% end %>
<p>
  <strong>Total:</strong>
  $<%= sprintf("%.2f",@total) %>
</p>

<% if @user.paid? %>
  <h3 style="color: red">USER PAID</h3>
  <%= form_for @user, url: {action: "update"} do |f| %>
    <%= hidden_field(:paying_user, false) %>
    <%= f.submit "Unpay"%>
  <% end %>
<% else %>
  <%= form_for @user, url: {action: "update"} do |f| %>
    <%= hidden_field(:paying_user, true) %>
    <%= f.submit "User paid"%>
  <% end %>
<% end %>

<br>

<%= form_for @auction do |f| %>
  <%= hidden_field(:user, :id) %>

  <%= f.label :value %>:
  <%= f.text_field :value %>

  <%= f.label :name %>:
  <%= f.text_field :name %>

  <%= f.label :quantity %>:
  <%= f.text_field(:quantity, value: 1) %><br />

  <%= f.submit %>
<% end %>
<p> </p>
<table>
  <th>Name</th>
  <th>Price</th>
  <th>Paid</th>
  <% @auctions.each do |auction| %>
    <tr>
      <td class="grid-line"><%= auction.name == "" ? "NO NAME" : auction.name %></td>
      <td class="grid-line">$<%= sprintf("%.2f",auction.value) %></td>
      <td class="grid-line"><%= auction.paid? ? "Paid" : "Not Paid" %></td>
      <td class="field_with_errors"> <%= link_to 'delete', auction_path(auction), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
 %> </td>
    </tr>
  <% end %>
</table>
<p> </p>
<%= link_to 'Edit user', edit_user_path(@user) %>

<% if @auctions.present? %>
  <div>
    <%= form_tag send_csv_email_path, method: :post do %>
      <%= text_field_tag :email, nil, placeholder: "email" %>
      <%= hidden_field_tag :id, @user.id %>
      <%= submit_tag "Send csv email", name: nil %>
    <% end %>
  </div>
<% end %>
